on:
  push:
    paths:
    - '**.md'

jobs:
  md_auto_link_job:
    runs-on: ubuntu-latest
    name: md_auto_link
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: pip install google
    - name: md_auto_link script
      run: python md_auto_link.py README.md site_list
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Apply md_auto_link changes
